/* styles.css */
body,
html {
 margin: 0;
 padding: 0;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: "Edu AU VIC WA NT Dots", cursive;
 color: white;
 background-image: url("tlo.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
}

.quote-container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 position: relative;
}

#datetime {
 position: absolute;
 top: 10px;
 right: 10px;
 font-size: 1.2em;
 color: white;
 text-shadow: 1px 1px 5px rgba(255, 105, 180, 0.5);
 z-index: 10;
}

.quote {
 text-align: center;
 font-size: 8vw;
 font-weight: bold;
 background-image: url("tlo_cytatu.jpg");
 background-size: cover;
 border-radius: 80px;
 padding: 30px 40px; /* Dodatkowe wcięcia */
 box-shadow: 0 8px 30px rgba(255, 105, 180, 0.6); /* Zwiększony cień */
 text-shadow: 3px 3px 10px rgba(255, 105, 180, 0.8),
  0 0 20px rgba(255, 255, 255, 0.6);
 color: white;
 animation: fadeIn 1s ease-in-out, pulse 2s infinite ease-in-out;
 opacity: 0;
 animation-fill-mode: forwards;
 border: 3px solid rgba(255, 255, 255, 0.5); /* Delikatna ramka */
}

@keyframes fadeIn {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}

.counter {
 position: relative;
 font-size: 1.5em;
 text-align: center;
 color: rgba(255, 255, 255, 0.8);
 margin-top: 20px;
 text-shadow: 1px 1px 5px rgba(255, 105, 180, 0.5);
}

.love-btn {
 background-color: #ff69b4;
 color: white;
 padding: 10px 20px;
 border: none;
 border-radius: 25px;
 font-size: 1em;
 cursor: pointer;
 box-shadow: 0 4px 15px rgba(255, 105, 180, 0.5);
 transition: all 0.3s ease;
 margin-top: 20px;
 animation: pulse 2s infinite;
}

.love-btn:hover {
 background-color: #ff1493;
 box-shadow: 0 6px 20px rgba(255, 105, 180, 0.7);
 transform: scale(1.05);
}

@keyframes pulse {
 0%,
 100% {
  transform: scale(1);
 }
 50% {
  transform: scale(1.05);
 }
}

#love-letter {
 font-size: 0.9em;
 color: rgba(255, 255, 255, 0.8);
 margin-top: 20px;
 text-align: center;
 text-shadow: 1px 1px 5px rgba(255, 105, 180, 0.5);
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: none;
 background-color: rgba(0, 0, 0, 0.8);
 border-radius: 10px;
 padding: 20px;
 box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
 z-index: 1000;
}

.floating-heart {
 position: absolute;
 width: 30px;
 height: 30px;
 background-image: url("heart.png");
 background-size: contain;
 background-repeat: no-repeat;
 animation: float 6s infinite ease-in-out;
 opacity: 0.7;
}

@keyframes float {
 0% {
  transform: translateY(0);
 }
 50% {
  transform: translateY(-50px);
 }
 100% {
  transform: translateY(0);
 }
}
